<div id="btn-grp" class="button-group">
  {{#link-to 'dashboard'}}
  <button class="btn btn-lg btn-info">Dashboard</button>
  {{/link-to}}
  {{#link-to 'admin'}}
  <button class="btn btn-lg btn-info">Admin</button>
  {{/link-to}}
  {{#link-to 'new-ticket'}}
  <button class="btn btn-lg btn-info">New Ticket</button>
  {{/link-to}}
</div>
